h1 {
  margin: 5px;
  font-size: 120%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #677570;
}

label{
  color: #797a7a;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p{
  line-height: 0.6em;
}

.items_car{
  line-height: 1.0em;
  font-size: 14px;
  color: #1F5FBF;
}

img{
  margin-right: 10px;
  margin-bottom: 10px;
}

.item_list{
   margin: -17px;
}

content_list.item{
  margin: -10px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.item_menu{
  margin: -17px;
}

.cost{
  color: #d43f3a;
}

.title{
  text-align: center;
}

.list{
  overflow:  hidden;
}

ul.list{
  margin: 0px;
  padding: 15px;
  border: 1px solid #f3f3fa;
}

.menu_shadow{
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.log_in{
  padding-top: 25px;
}
