h1 {
  margin: 5px;
  font-size: 120%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #677570;
}

label{
  color: #797a7a;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p{
  line-height: 0.6em;
}

.items_car{
  line-height: 1.0em;
  font-size: 14px;
  color: #1F5FBF;
}

img{
  margin-right: 10px;
  margin-bottom: 10px;
}

.item{
  margin: -17px;
}

.cost{
  color: #d43f3a;
}

h1.title{
  text-align: center;
}

.list{
  overflow:  hidden;
}
