<ion-side-menus>

  <ion-side-menu-content>
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-navicon left"
                ng-click="toogleleft()"></button>
      </div>
      <div style="text-align: center;">
        <h1 class="title">Мои объявления</h1>
      </div>
    </ion-header-bar>

    <ion-content>
      <ion-list ng-controller="carsCtrl as cars" class="headBody">
        <div class="list">
          <ion-item ng-repeat="car in carsData">
            <a class="item" href="#">
              <img ng-src="{{ car.img }}" class="ssd col-40 img-responsive" align="left" hspace="10px">
              <h2 class="items_car">{{ car.name + " " + car.model }} </h2>
              <h3 class="year">{{ car.year }}</h3>
              <h4 class="info">{{'Пробег ' + car.mileage + 'км, '
                + 'Объём двигателя ' + car.amount + 'см.куб, '
                + car.fuel + ', '
                + car.type + '.'}}
              </h4>
              <h3 class="cost">{{ car.cost }}</h3>
            </a>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <a class="button button-clear button-stable" href="#/login">Войти</a>
      <a class="button icon ion-gear-a" href="#/setting"></a>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <a href="#/login" class="item icon ion-ios-list-outline" style="margin: 0px;" menu-close> Мои объявления</a>
        <a href="#" class="item icon ion-cash" style="margin: 0px;" menu-close> Продажа</a>
        <a href="#" class="item icon ion-ios-cart-outline" style="margin: 0px;" menu-close> Покупка</a>
        <a href="#" class="item icon ion-ios-search" style="margin: 0px;" menu-close> Поиск</a>
      </ul>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
